<h1>Listing people</h1>

<%= link_to 'New Person', new_person_path %>
<br />
<br />

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Address</th>
    <th>Church</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.first_name %></td>
    <td><%= person.last_name %></td>
    <td><%= person.address %></td>
    <td><%= person.church %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
  </tr>
<% end %>
</table>


