!!!
%html{ class:'no-js' }
  %head
    %title= t('svdp.short')
    = google_webfonts_init({google:['Modern Antiqua','Donegal One'] })

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    %header
      .logo
        %a{:href => "/" }
          = image_tag 'logo_half.png'

      .title
        %h1{ full: t('svdp.full'), medium: t('svdp.medium'), short: t('svdp.short') }

      .search
        = form_for Search.new do |f|
          = f.search_field :term, { placeholder: t('search.field'), results: 5, autosave: 'family_search' }
          %button.icon-search
      - if user_signed_in?
        .user{'data-no-turbolink' => true}
          %span.display= current_user.display_name
          = link_to t("common.logout"), destroy_user_session_path, :method => :delete, :class => 'logout'

    #main
      %article
        %p.notice= notice
        %p.alert= alert
        = yield
      %nav
        %h2 Menu
        = link_to t('search.link'), searches_path
        = link_to t(:add_family), new_family_path
        = yield :nav
        %h2 Resent Searches
        - %w(john smith bossier shreveport louisiana).each do |term|
          = link_to "#{t('search.quick')} '#{term.titlecase}'", search_path(term.titlecase)
      %aside
        %h2 Dashboard
        = yield :aside

    %footer
      %a{href:'http://glyphicons.com/'} Glyphicons Free
      licensed under
      %a{href:'http://creativecommons.org/licenses/by/3.0/'} CC BY 3.0.
