%p#notice= notice

%p
  %b First name:
  = @member.first_name
%p
  %b Last name:
  = @member.last_name
%p
  %b Dob:
  = @member.dob
%p
  %b Male:
  = @member.male
%p
  %b Person:
  = @member.person

= link_to 'Edit', edit_member_path(@member)
\|
= link_to 'Back', members_path
